PointerAlignment: Left
AlignAfterOpenBracket: true
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
#AlignConsecutiveDeclarations: true
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 90
IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: true
IndentWidth: 2
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
SortIncludes: true
SpaceBeforeAssignmentOperators: true
